modules = ["python-3.11", "web"]
run = "python3 main.py"

[nix]
channel = "stable-24_05"
packages = ["openssl", "postgresql"]

[workflows]
runButton = "Production Bot"

[[workflows.workflow]]
name = "Production Bot"
author = 44987287
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python keep_alive_server.py"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8080
externalPort = 8080

[deployment]
deploymentTarget = "autoscale"
run = ["sh", "-c", "python main.py"]
